<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>131</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>130</string>
					<key>Timestamp</key>
					<string>728147439.225426</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>BankCard/View/ViewBuilder.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            text.setLineHeight(lineHeight: 10)
</string>
				<key>leading</key>
				<string>            let text = UILabel()
            text.text = "Don't worry. You can always change the design of your virtual card. Just enter the settings."
</string>
				<key>trailing</key>
				<string>            text.textColor = UIColor(hex: "#6F6F6FFF")
            text.font = UIFont.systemFont(ofSize: 14, weight: .semibold)
            text.numberOfLines = 0
</string>
			</dict>
			<key>title</key>
			<string>LineHeight</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
